// Place all the styles related to the Memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.memo__title{
    width: 80%;
}

.memo__detail{
    width: 100%;
    height: 100px;
    
}

.a-memo :hover{
    border: solid 1px #00c;
}