
.nav {
    background-color:#11AA00;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    padding: 0 0 0 15px;

    &__list {
      float: left;
      margin-top: 13px;
    }
    &__item {
      display: inline-block;
      a {
        font-size: 14px;
        color: #777;
        position: relative;
        display: block;
        padding: 12px 20px;
      }
      &:hover {
        a {
          color: #333;
        }
      }
    }


  }