<%= form_for @memo, :url => {controller: :memos, :action => 'create'} do |f| %>
    
    <div class="form__row">
      <p><%= f.text_area :content,  :placeholder => "メモをかこー！マークダウンだよ", class: "memo__detail border-0" %></p>
      <%= f.hidden_field :book_id, value: @book.id %>
    </div>
    
    <%= f.submit "追加", class: "form__submit" %>
  <% end %>
  