<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><%= link_to "ホーム" ,:books %></li>
      <li class="nav__item"><%= link_to "記事" %></li>
      <li class="nav__item"><%= link_to "ユーザー" %></li>
  </ul>
</nav>